body { background-color: #98AFC7;
 font-family: Arial, Helvetica, sans-serif; 
 color: #2C3539; }

h1 { color:#2C3539;
 text-decoration: underline;
text-align: center; }

h2 { color:#2C3539;
 text-decoration: underline; }

h3 { color:#2C3539; text-decoration: underline; }

nav { text-align: center; }

